.menu {
  position: absolute;

  top: 100%;
  left: 0;

  min-width: 350px;

  background: white;

  border: 1px solid var(--border);

  padding: 24px;

  display: flex;

  gap: 40px;

  box-shadow: var(--shadow);

  z-index: 1000;
}

.group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.group h4 {
  font-size: 13px;
  color: var(--text-light);
  margin-bottom: 8px;
}